$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'loader';
@import 'breakpoints';
@import 'colors';
@import 'theme';
@import 'buttons';
@import 'colors';
@import 'typography';
