body {
  background-color: $blue;
}

.col-md-12 {
  background-color: $black;
  height: 75px;
  margin: 5px;
}

.sign-in-form {
  background-color: $gray;
  left: 51%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.userOp {
  margin-left: 45%;
}
