body {
  background-color: $black;
}

// Landing Section -------------------------------------------------------------

.landing {
  @include breakpoint(medium) {
    background: url('https://i.imgur.com/WCQxz7H.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.sign-in-form {
  @include breakpoint(medium) {
    background-color: rgba($black, .7);
    left: 51%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// User Section ----------------------------------------------------------------

.userMain {
  @include breakpoint(medium) {
    background: url('https://i.imgur.com/WCQxz7H.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.menu {
  @include breakpoint(medium) {
    background-color: rgba($black, .7);
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

h2 {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 0%;
    transform: translate(-50%, -50%);
  }
}

.userOp {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 8%;
    transform: translate(-50%, -50%);
  }
}

h3 {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
  }
}

.new-player {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}

.get-players {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// Players Section -------------------------------------------------------------

.players-section {
  @include breakpoint(medium) {
    background-color: rgba($black, .9);
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.playerOp {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 8%;
    transform: translate(-50%, -50%);
  }
}

.allPlayers {
  @include breakpoint(medium) {
    background-color: $red;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}
