body {
  background-color: $black;
}

// Landing Section -------------------------------------------------------------

h1 {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 40%;
  }
}

h4 {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
  }
}

.landing {
  @include breakpoint(medium) {
    background: url('https://i.imgur.com/D1Qiwk9.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.sign-in-form {
  @include breakpoint(tiny) {
    // background-color: rgba($black, .4);
    border-radius: 15px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 59.90%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  @include breakpoint(small) {
    // background-color: rgba($black, .4);
    border-radius: 15px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 59.90%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  @include breakpoint(medium) {
    // background-color: rgba($black, .4);
    border-radius: 15px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 59.90%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

.sign-in-form input {
  @include breakpoint(medium) {
    margin: auto;
    width: 70%;
  }
}

// User Section ----------------------------------------------------------------
.head {
    background-color: $black;
    background-size: cover;
    height: 10%;
    left: 0;
    position: absolute;
    right: 0;
}

.userMain {
  @include breakpoint(medium) {
    background: url('https://i.imgur.com/WCQxz7H.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.menu {
  @include breakpoint(medium) {
    background-color: rgba($black, .7);
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

h2 {
  @include breakpoint(medium) {
    left: 10%;
    padding: 10px;
    position: absolute;
    top: 20%;
    transform: translate(-50%, -50%);
  }
}

.userOp {
  @include breakpoint(medium) {
    left: 93%;
    padding: 10px;
    position: absolute;
    top: 73%;
    transform: translate(-50%, -50%);
    width: 200px;
  }
}

.dropdown-menu {
  background-color: $black;
}

h3 {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 15%;
    transform: translate(-50%, -50%);
  }
}

.new-player {
  @include breakpoint(tiny) {
    background-color: $black;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  @include breakpoint(small) {
    background-color: $black;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 90%;
    transform: translate(-50%, -50%);
  }
  @include breakpoint(medium) {
    background-color: $black;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}

.get-players {
  @include breakpoint(tiny) {
    background-color: $black;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
  }
  @include breakpoint(small) {
    background-color: $black;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
  }
  @include breakpoint(medium) {
    background-color: $black;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
  }
}

.wins-desc {
  @include breakpoint(tiny) {
    background-color: $black;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
  }
  @include breakpoint(small) {
    background-color: $black;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @include breakpoint(medium) {
    background-color: $black;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
  }
}

// Players Section -------------------------------------------------------------

.players-section {
  @include breakpoint(tiny) {
    background-color: rgba($black, .9);
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  @include breakpoint(small) {
    background-color: rgba($black, .9);
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  @include breakpoint(medium) {
    background-color: rgba($black, .9);
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.playerOp {
  @include breakpoint(medium) {
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 8%;
    transform: translate(-50%, -50%);
  }
}

.allPlayers {
  color: white;
  @include breakpoint(tiny) {
    left: 50%;
    margin: 15px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  @include breakpoint(small) {
    left: 50%;
    margin: 15px;
    position: relative;
    top: 28%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  @include breakpoint(medium) {
    left: 50%;
    margin: 15px;
    position: relative;
    top: 28%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.player {
  @include breakpoint(medium) {
    background-color: $black;
    border: 1px solid $redd;
    border-radius: 5px;
    margin: 2px;
    width: 251px;
  }
}

.playerOp {
  @include breakpoint(medium) {
    left: 93%;
    padding: 10px;
    position: absolute;
    top: 73%;
    transform: translate(-50%, -50%);
    width: 200px;
  }
}

.dropdown-menu {
  padding: 5px;
}



// Modals ----------------------------------------------------------------------
.modal {
  background-color: rgba($gray, .6);
}

.modal-body {
  background-color: tint($black, 10%);
}

.modal-header {
  background-color: tint($black, 10%);
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  border: none;
}
