// body {
//   font-family: 'Coda Caption', sans-serif;
// }

// Landing Section -------------------------------------------------------------

h1 {
  font-family: 'Coda Caption', sans-serif;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  @include breakpoint(medium) {
    font-size: 70px;
  }
}

h4 {
  color: $redd;
  font-family: 'Coda Caption', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  @include breakpoint(medium) {
    font-size: 25px;
  }
}

.sign-in-form  {
  color: $white;
  font-family: 'Righteous', cursive;
  text-align: center;
}

.sign-in-form h5 {
  color: $white;
  @include breakpoint(medium) {
    font-size: 25px;
    padding-bottom: 10px;
  }
}

.sign-in-form p {
  @include breakpoint(medium) {
    padding-top: 15px;
    font-size: 15px;
  }
}

// User Section ----------------------------------------------------------------
h2 {
  color: $white;
  font-family: 'Coda Caption', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  @include breakpoint(medium) {
    font-size: 30px;
  }
}

h3 {
  color: $redd;
  font-family: 'Coda Caption', sans-serif;
  font-weight: bold;
  @include breakpoint(medium) {
    font-size: 40px;
  }
}

li {
  list-style-type: none;
}

.user {
  color: $white;
}

.userOp {
  font-family: 'Coda Caption', sans-serif;
  @include breakpoint(medium) {
    font-size: 20px;
  }
}

.dropdown-menu {
  color: $white;
}

.new-player,
.get-players,
.wins-desc {
  color: $white;
  font-family: 'Righteous', cursive;
  @include breakpoint(medium) {
    font-size: 28px;
  }
}

// Players section -------------------------------------------------------------
.player,
table {
  font-family: 'Righteous', cursive;
  text-align: center;
}

// modals ----------------------------------------------------------------------
.modal-header {
  color: $redd;
  text-transform: uppercase;
}

.modal-title {
  font-family: 'Coda Caption', sans-serif;
  @include breakpoint(medium) {
    font-size: 28px;
  }
}

.modal-body {
  color: $white;
  font-family: 'Righteous', cursive;
}
